body {
  background-color: #f4f4f4;
  /* background-color: darkblue; */
  font-family: Arial, sans-serif;
  padding: 1rem;
  margin: 0px;
  scrollbar-width: thin;
}

p {
  margin: 0px;
  padding: 0px;
  font-size: small;
}

a {
  color: black;
  text-decoration: none;
  font-size: small;
}
a:hover{
  color: green;
}

.main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: top;
  gap: 2.5rem;
  width: 100%;
  max-width: 540px;
  height: 100%;
  margin: 0px auto;
  padding: 2rem 0px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 0px auto;
}
.header a{
  font-size: large;
  font-weight: 800;
}
.header a:hover{
  color: black;
}
.header-intro {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.header-intro p,
.header-intro a{
  font-size: small;
  font-weight: lighter;
  text-align: center;
}
.header-intro a{
  text-decoration: underline;
}
.header-intro a:hover{
  color: green;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  gap: 0.5rem;
  margin: 0px auto;
  padding: 0px;
}
nav li {
  display: flex;
  list-style-type: none;
  margin: 0px auto;
}
nav a {
  color: black;
  text-decoration: none;
  font-style: italic;
}
nav a:hover {
  color: green;
  font-weight: 600;
}
.nav-divider {
  height: 1.5rem;
}


/* PROJECT PAGES */
.projects {
  display: flex;
  flex-direction: column;
  /* justify-content: top; */
  gap: 2rem;
  width: 100%;
  max-width: 540px;
  height: 100%;
  margin: 0px auto;
  padding: 2rem 0rem;
  /* border: green 1px solid; */
}
.projects nav{
  /* position: absolute; */
  align-self: center;
  margin: 0px 0px auto 0px ;
  padding: 0rem 0rem;
  /* border: red 1px solid; */
}
.proj-nav.top{
  position: absolute;
  align-self: start;
  height: 24px;
  width: 12px;
  /* border: red 1px solid; */
}
.proj-nav svg:hover{
  fill:green;
}
.proj-nav a{
   font-size: small;
   font-style: italic;
}

.projects section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0px;
  padding: 0px;
}
section header {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 0.25rem;
  /* margin: 0rem auto 0rem 0rem; */
  margin: 0px;
  padding: 0px;
}
section h2 {
  margin: 0rem auto 0rem 0rem;
  padding: 0px 2.5rem 0px 0px;
  font-size: large;
  font-weight: 800;
}
.proj-specs{
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 0.5rem;
}
section header p {
  margin: 0px;
  font-size: small;
  font-weight: 300;
  /* font-style: italic; */
  color: gray;
}

.proj-description-block{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0px;
  padding: 0px;
  font-size: small;
}

.proj-img-slideshow{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vw;
  max-height: 300px;
  overflow: hidden;
  margin: auto;
  background-color: #080808;
}

.proj-img-slideshow img{
  position: absolute;
  display: inline-block;
  width: 100%;
}
.proj-img-slideshow img.hidden{
  opacity: 0;
  z-index: 0;
  /* width: 100%; */
  /* margin: 0rem 0rem; */
  transition: opacity 1s ease-in-out;
}
.proj-img-slideshow img.show{
  opacity: 1;
  z-index: 1;
  /* width: 100%; */
  /* margin: 0rem 0rem; */
  transition: opacity 1s ease-in-out;
}

.proj-shows ul{
  margin: 0rem;
  padding: 0rem;
}
.proj-shows li{
  padding: 0.25rem 0rem 0rem 1rem;
  list-style: none;
  font-size: small;
  color: gray;
}

